# System files
.DS_Store
Thumbs.db

# IDE/Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies
node_modules/
/vendor

# Build output
dist/
build/
bin/
obj/

# Environment variables
.env
.env.local
